[Unit]
Description=insolard
After=network.target

[Service]
LimitNOFILE=500000
LimitNPROC=500000
WorkingDirectory=/opt/insolar
User=insolar
Type=simple
ExecStart=/usr/local/bin/insolard --config /etc/insolar/insolar.yaml
KillSignal=SIGKILL
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
