[Unit]
Description=keeperd
After=network.target

[Service]
WorkingDirectory=/opt/insolar
User=insolar
Type=simple
ExecStart=/usr/local/bin/keeperd --config /etc/insolar/keeperd.yaml
KillSignal=SIGKILL
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
